@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100&family=Titillium+Web:ital,wght@1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-image: url('../Logo&Background/f1testbackground-5R7t-IoJD-transformed.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
#loadingGif{
    width: 200px;
    height: 200px;
  }
  
  #loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Logo&Background/f1testbackground-5R7t-IoJD-transformed.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
#driverStandingsList {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Allow multiple rows */
    justify-content: space-between; /* Distribute items evenly */
  }

  /* Navbar styles */
#logo {
    width: 10%;
    max-height: 60px; /* Adjust height if necessary */
    margin-right: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    height: 80px; /* Set explicit height for navbar */
  }
  
  .headliner {
    background-color: #333333cf;
    border-radius: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center; /* Align items vertically */
    width: 100%;
    justify-content: space-between;
    padding: 5px 20px; /* Add padding for more height */
  }
  
  .logoheadliner {
    padding-right: 10%;
    border-right: 2px solid rgba(255, 255, 255, 0.389);
    color: white;
    text-decoration: none;
    white-space: nowrap; /* Ensure text does not wrap */
    font-size: 1.5em; /* Adjust font size if necessary */
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.1em; /* Adjust font size if necessary */
  }
  
  .nav-link:hover, .nav-link.active {
    background-color: #555555;
    border-radius: 10px;
  }
  
  a {
    border-radius: 10px;
  }
  
  a:hover {
    background-color: #555555;
  }
  

.raceDriverStandingsCard {
    display: flex;
    flex-direction: column;
    background-color: #333333cf;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: transform 0.5s ease;
}
.raceDriverStandingsCard:hover {
    transform: scale(1.05);
}

h1 {
    color: rgba(255, 255, 255, 0.929);
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    color: rgba(255, 255, 255, 0.794);
    font-size: 16px;
    margin: 5px 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .raceDriverStandingsCard {
        width: 100%;
        margin: 10px 0; /* Adjust margin for better spacing on smaller screens */
    }

    h1,
    p {
        font-size: 16px;
        text-align: center; /* Center text on smaller screens */
    }

    img {
        width: 100%; /* Make images full width on smaller screens */
        margin-left: 0; /* Reset left margin */
    }
}

  img {
    margin-left: auto;
    width: 45%;
}